<%= link_to '點我建立新的追蹤清單', new_portfolio_url(user_id: params[:user_id]) %>
<hr>

<%= form_tag portfolios_url, method: :get do %>
  <%= label_tag :user_id, 'User ID' %>
  <%= select_tag :user_id, options_for_select(User.pluck(:id, :id)) %>
  <%= submit_tag '切換使用者' %>
<% end %>

<br>

<% if @portfolios.blank? %>
  <h2>你還沒有建立股票清單哦！</h2>
<% else %>
  <table>
    <% @portfolios.each do |portfolio| %>
      <tr>
        <th><%= portfolio.name %></th>
        <th><%= link_to '編輯追蹤清單頁', edit_portfolio_url(portfolio) %></th>
        <th><%= link_to '刪除', portfolio_url(portfolio), method: :delete %></th>
      </tr>
      <tr>
      <tr>
        <td><%= link_to '點我新增追蹤股', '' %></td>
      </tr>
    <% end %>
  </table>
<% end %>
